
<center>
<table style="width: 100%" background="http://coldconflict.com/static/img/emailbackground.jpg">
    <tr><td><center>
    <table style="width: 600px; border-radius: 5px; background-color: rgba(10, 10, 10, 0.5); padding: 10px; font-family: Droid Sans,Helvetica Neue, Helvetica,Arial,sans-serif">
        <tr>
            <td style="background-color: rgba(23, 21, 20, 0.4); padding: 10px;">
            <center>
                <img src="http://coldconflict.com/static/assets/logo.png">
            </center>
            </td>
        </tr>
        <tr>
            <td>
                <center>
                    <p class="headline">
                        <h1 style="color: rgb(255, 238, 227); padding: 10px;">
                            {{ headline }}
                        </h1>
                    </p>
                </center>
            </td>
        </tr>
        <tr>
            <td>
                <p style="color: rgb(255, 238, 227); padding: 10px;">
                    {{ content }}
                </p>
            </td>
        </tr>
    </table>
</center></td></tr>
</table>
