{% extends 'nation/base.html' %}
{% block content %}
<div class="container">

<table class="table table-hover table-bordered"><tr>
  <td><a href="{% url 'nation:economic' %}"><h2><center>Economic</center></h2></a></td>
  <td><a href="{% url 'nation:domestic' %}"><h2><center><b>Domestic</b></center></h2></a></td>
  <td><a href="{% url 'nation:foreign' %}"><h2><center>Foreign</center></h2></a></td>
  <td><a href="{% url 'nation:military' %}"><h2><center>Military</center></h2></a></td>
  <td><a href="{% url 'market:main' %}"><h2><center>Market</center></h2></a></td>
  </tr>
</table>

     <center><h2>Domestic Policy</h2></center>
    {% load static %}
<img src="/static/img/domestic.png" /><br /><br />

     {% include 'nation/policy.html' %}

</div>
{% endblock %}