{% extends 'nation/base.html' %}
{% block content %}
<style>
.right {
    text-align: right;
}
.left {
    text-align: left;
}

.spacer {
    margin-top: 10px;
}
.bigspacer {
    margin-top: 50px;
    margin-bottom: 40px;
}

.multiwarning {
    background-color: rgb(209, 43, 16);
    padding: 20px;
    margin-top: 30px;
    border-radius: 5px;
}
</style>
<h3>New nation</h3>

<p>Hello {{ name }}, it's time to choose what type of nation you want to rule over</p>
<p>But first, you need a password</p>
<form method="POST">{% csrf_token %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                {{ form.password }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                {{ form.password2 }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <p>
                <h4 class="multiwarning">
                    Creating multiple accounts is against the rules and WILL result in a permanent ban
                </h3>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 bigspacer">
            <div class="form-group">
                {{ form.name }}
            </div>
        </div>
    </div>

    <p>Before you choose where you want to locate, you should check out the world map</p>
        <div class="row">
        <div class="col-sm-2 col-sm-offset-3 right spacer">
            <div class="form-group">
                <label>{{ form.subregion.label }}: </label>
            </div>
        </div>
        <div class="col-sm-3 left">{{ form.subregion }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-sm-offset-3 right spacer">
            <div class="form-group">
                <label>{{ form.government.label }}: </label>
            </div>
        </div>
        <div class="col-sm-3 left">
            {{ form.government }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-sm-offset-3 right spacer">
            <div class="form-group">
                <label>{{ form.economy.label }}: </label>
            </div>
        </div>
        <div class="col-sm-3 left">
            {{ form.economy }}
        </div>
    </div>

    <button type="submit" class="btn btn-default btn-lg">Create nation</button>

</form>

{% endblock %}