{% extends 'nation/base.html' %}
{% block content %}
<div class="container">
<h2 style="margin: 50px">Region Discussion for {{ region }}</h2>
{% if declarations %}

{% if result %}
    <div class="result">
        {{ result }}
    </div>
{% endif %}

<div> 
<ul class="pagination">
{% for page in pages %}
    <li><a href="{% url 'regionaldiscussions' page.page %}">{{ page.page }}</a></li>
{% endfor %}
</ul> 
</div>


<div class="declarations">
    <form method="POST">{% csrf_token %}
    {% for declaration in declarations %}
        <div class="declaration">
            <div class="row">
                <div class="col-sm-6">
                    <div style="text-align: left; padding-left: 10px">
                    <h4>
                        <a href="{{ declaration.nation.get_absolute_url }}">
                        <img src="{{ declaration.nation.settings.showflag }}" height="20">
                        <b>{{ declaration.nation.name }}</b>
                        </a> declared the following
                    </h4>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h5 style="float: right; margin-right: 10px">
                    {% if mod %}
                            <button type="submit" name="delete" value="{{ declaration.pk }}" class="btn-sm btn-danger">
                                Delete
                            </button>
                    {% endif %}
                        {{ declaration.timestamp|date:"o/m/d G:i" }}
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="dec-content">
                        {{ declaration.content }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </form>
</div>

{% else %}

<p>There are no declarations yet! Be the first to make one!</p>

{% endif %}
<p><h5>Declarations costs ${{ deccost }}k each</h5></p>
<form method="POST">{% csrf_token %}
<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        {{ decform.message }}
    </div>
</div>
    <div><button type="submit" class="btn" style="margin: 20px" name="declare">Declare</button></div>
</form>
</div>
{% endblock %}