{% extends 'nation/base.html' %}
{% block content %}
{% load basetags %}
<h3>Nations in {{ region }}</h3>

{% load static %}
<img src="{% static 'img/alliances.gif' %}" >


<div class="search">
<form method="POST">{% csrf_token %}
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <div class="input-group">
                {{ searchform.nation }}
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Search</button>
                </span>
            </div>
        </div>
    </div>
</form>
</div>


<div> 
<ul class="pagination">
{% for page in pages %}
    <li><a href="{% url 'regionrankings' 'shortregion' page.page %}">{{ page.page }}</a></li>
{% endfor %}
</ul> 
</div>


<table class="table table-striped">
    <tr>
        <td><b>Nation</b></td>
        <td><b>Leader</b></td>
        <td><b>GDP (millions)</b></td>
        <td><b>Alignment</b></td>
        <td><b>Alliance</b></td>
        <td><b>War</b></td>
    </tr>
    {% for player in nations %}
    <tr>
        <td>
            <a href="{{ player.get_absolute_url }}">
                <img src="{{ player.settings.showflag }}" height="40">
            {{ player.name }}
            </a>
        </td>
        <td>{{ player.user.username }}</td>
        <td>${{ player.gdp }}m</td>
        <td>{{ player.alignment|alignment }}</td>
    {% if player.has_alliance %}
        <td>
            <a href="{{ player.alliance.get_absolute_url }}">
                {{ player.alliance.name }}
            </a>
        </td>
    {% else %}
        <td>None</td>
    {% endif %}
        <td>{{ player|warstatus:nation }}</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}