{% extends 'nation/base.html' %}
{% block content %}
    
<div style="margin: 20px;"><img src="/static/img/research.png"></div>

 <form method="POST">{% csrf_token %}
    <table class="table table-hover">
    {% if result %}
    <div class="result">
        <img src="{{ img|safe }}"><br>
        <p class="spacer-small">{{ result|safe }}</p>
    </div>
    {% endif %}

        <tr>
            <td><b>Action</b></td>
            <td><b>Description</b></td>
             <td><b>Current Level</b></td>
            <td><b>Cost</b></td>
            <td><b></b></td>
        </tr>
        
        <tr>
            <td><b>Green Revolution</b></td>
            <td>Discover the latest set of GMO seeds. Increases food production per 500km2 by a thousand tons.</td>
              <td>{{ research.foodtech }}</td><td>{{ cost }} Research, ${{ budgetcost }}k </td>
              
            <td><button type="submit"  class="btn btn-default" name="foodtech" value="grain">Research</button></td>
        </tr>
        <tr>
            <td><b>Urban Development</b></td>
            <td>Decreases land use from factories by 10%.</td>
              <td>{{ research.urbantech }}</td> <td>{{ cost }} Research </td>
             
            <td><button type="submit" class="btn btn-default" name="urbantech" value="urban">Research</button></td>
        </tr>
        <tr>
            <td><b>Mining Technology</b></td>
            <td>Increases raw material output from mines by 10%.</td>
            <td>{{ research.miningtech }}</td>
            <td>{{ cost }} Research </td>
             
            <td><button type="submit" class="btn btn-default" name="miningtech" value="mine">Research</button></td>
        </tr>
        <tr>
            <td><b>Industrial Technology</b></td>
            <td>Increases manufactured goods output from factories by 10%.</td>
            <td>{{ research.industrialtech }}</td>
              <td>{{ cost }} Research </td>
             
            <td><button type="submit" class="btn btn-default" name="industrialtech" value="industry">Research</button></td>
        </tr>
        <tr>
            <td><b>Petroleum Refining Technology</b></td>
            <td>Increases oil output from wells by 10%.</td>
            <td>{{ research.oiltech }}</td>
              <td>{{ cost }} Research </td>
             
            <td><button type="submit"  class="btn btn-default" name="oiltech" value="oil">Research</button></td>
        </tr>
        <tr>
            <td><b>Geological Research</b></td>
            <td>Increases oil discovered in prospecting by 10%.</td>
            <td>{{ research.prospecttech }}</td>
              <td>{{ cost }} Research </td>
             
            <td><button type="submit"  class="btn btn-default" name="prospecttech" value="prospect" >Research</button></td>
        </tr>
        </table>
    </form>
{% endblock %}