{% extends 'nation/base.html' %}
{% block content %}
{% load alliancetags %}
<div class="container">

<p style="margin: 40px"><h3>Bank Overview</h3></p>
{% load static %}
    <img src="{% static 'img/bank.jpg' %}" height="100">

{% if result %}
    <div class="result">
        {{ result }}
    </div>
{% endif %}

<div class="spacer-big">
<h3>Alliance holdings</h3>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <td></td>
            <td>Money</td>
            <td>Raw Materials</td>
            <td>Oil</td>
            <td>Manufactured Goods</td>
            <td>Food</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Holdings</td>
            <td><span style="color: green">${{ bank.budget }}k</span></td>
            <td><span style="color: green">{{ bank.rm }} Tons</span></td>
            <td><span style="color: green">{{ bank.oil }} Mbbls</span></td>
            <td><span style="color: green">{{ bank.mg }} Tons</span></td>
            <td><span style="color: green">{{ bank.food }} Tons</span></td>
        </tr>
        <tr>
            <td>Withdrawal limits</td>
            <td>${{ bank.budget_limit }}k</td>
            <td>{{ bank.rm_limit  }} Tons</td>
            <td>{{ bank.oil_limit  }} Mbbls</td>
            <td>{{ bank.mg_limit  }} Tons</td>
            <td>{{ bank.food_limit  }} Tons</td>
        </tr>
    </tbody>
</table>
{% if bank.per_nation %}
    <p>Withdrawal limits are per nation</p>
{% else %}
    <p>Withdrawal limits are alliance wide</p>
{% endif %}
</div>



<div>
<h3>Income and expenditure</h3>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <td>Tax bracket</td>
            <td>Income</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Wealthy nations</td>
            <td><span style="color: green">+${{ bankstats.wealthy_tax }}k</span></td>
        </tr>
        <tr>
            <td>Upper middle nations</td>
            <td><span style="color: green">+${{ bankstats.uppermiddle_tax }}k</span></td>
        </tr>
        <tr>
            <td>Lower middle nations</td>
            <td><span style="color: green">+${{ bankstats.lowermiddle_tax }}k</span></td>
        </tr>
        <tr>
            <td>Poor nations</td>
            <td><span style="color: green">+${{ bankstats.poor_tax }}k</span></td>
        </tr>
        <tr>
            <td>Literacy initiative</td>
            <td><span style="color: red">-${{ bankstats.literacy_cost }}k</span></td>
        </tr>
        <tr>
            <td>Healthcare initiative</td>
            <td><span style="color: red">-${{ bankstats.healthcare_cost }}k</span></td>
        </tr>
        <tr>
            <td>Open border initiative</td>
            <td><span style="color: red">-${{ bankstats.open_borders_cost }}k</span></td>
        </tr>
        <tr>
            <td>Freedom of information initiative</td>
            <td><span style="color: red">-${{ bankstats.freedom_cost }}k</span></td>
        </tr>
        <tr>
            <td>Weapon trading initiative</td>
            <td><span style="color: red">-${{ bankstats.weapontrade_cost }}k</span></td>
        </tr>
        <tr>
            <td>Total</td>
            <td>{{ bankstats.total|banktotal }}</td>
        </tr>
    </tbody>
</table>

<p style="margin: 40px"><h3>Bank log entries</h3></p>


<div> 
<ul class="pagination">
{% for page in pages %}
    <li><a href="{% url 'alliance:bank' page.page %}">{{ page.page }}</a></li>
{% endfor %}
</ul> 
</div>

{% if logentries %}
<table class="table table-striped table-hover">
    {% for entry in logentries %}
    <tr>
        <td>
            <a href="{{ entry.nation.get_absolute_url }}"">
                <b>{{ entry.nation.name }}</b>
            </a>
            {% if entry.deposit %}
                <span style="color: green;">deposited</span>
            {% else %}
                <span style="color: red;">withdrew</span>
            {% endif %}
                {{ entry.display }} {{ entry.timestamp|date:"o/m/d G:i" }}
        </td>
        <td>
            <button class="btn btn-danger" type="submit" name="delete" value="{{ entry.pk }}">
                Delete
            </button>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}


<p style="margin: 10em">
    Nobody has been using the bank lately..
</p>

{% endif %}        

</div>

</div>
{% endblock %}