{% extends 'nation/base.html' %}
{% block content %}
<div class="container">
<h2 style="margin: 50px">{{ alliance.name }} chatter</h2>

{% if result %}
    <div class="result">
        {{ result }}
    </div>
{% endif %}

{% if chatlist %}


<div> 
<ul class="pagination">
{% for page in pages %}
    <li><a href="?page={{ page.page }}">{{ page.page }}</a></li>
{% endfor %}
</ul> 
</div>


<div class="declarations">
    {% for chat in chatlist %}
        <div class="declaration">
            <div class="row">
                <div class="col-sm-6">
                    <div style="text-align: left; padding-left: 10px">
                    <a href="{{ chat.nation.get_absolute_url }}">
                    <img src="{{ chat.nation.settings.showflag }}" height="20">
                    <b>{{ chat.nation.name }}</b></a>, 
                    {{ chat.nation.permissions.template.title }}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div style="text-align: right; padding-right: 10px">
                        {{ chat.timestamp|date:"o/m/d G:i" }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="dec-content">
                        {{ chat.content }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% else %}

<p style="margin: 50px">There is no alliance chatter yet! Be the first to start squawking!</p>

{% endif %}

<form method="POST">{% csrf_token %}
<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        {{ decform.message }}
    </div>
</div>
    <div><button type="submit" class="btn" style="margin: 20px" name="post">Post</button></div>
</form>
</div>
{% endblock %}