{% extends 'nation/base.html' %}
{% block content %}
{% load alliancetags %}

{% include 'alliance/header.html' %}

<style>
	.bank {
		text-align: left;
	}
	.small {
		font-size: 0.5em;
	}

</style>
{% if pages %}
	<div style="margin-top: -52px">
		<div class="container-fluid">
	    	<div class="btn-group btn-group-justified" role="group" aria-label="...">
	    		{% for page in pages %}
	    			<a class="btn 
	    			{% if not page.active %}
	    				cpnot
	    			{% endif %}" id="notifications" href="?page={{ page.link }}">{{ page.name }}</a>
	    		{% endfor %}
			</div>
		</div> <!-- end fluid -->
	</div>
{% endif %}
<div class="container">
		
{% if page == 'general' %}
	{% include "alliance/cp_general.html" %}
{% elif page == 'banking' %}
	{% include "alliance/cp_banking.html" %}
{% else %}
	{% include "alliance/cp_members.html" %}
{% endif %}




<script>
$(document).ready(function(){
    $(".toggle").click(function(){
    	if($(this).hasClass("locked") === false)
    	{
    		if (this.name === "initiative"){
    			$(this).addClass("locked");
    			lock_it();
    			var target = "#" + this.value + "_timer";
    			$(target).html("72 hours");
    		}
    		$.ajax({
	            method: "POST",
	            data: {
	            	"csrfmiddlewaretoken": $("input[name='csrfmiddlewaretoken']").val(),
	            	"toggle": this.value,
	            },
	            url: '/alliances/main/control_panel/',
        	});
    	}
    });
});


$(document).ready(function(){
    $("button[name='save']").click(function(event){
    	event.preventDefault();
		$.ajax({
            method: "POST",
            data: $('form').serialize(),
            url: '/alliances/main/control_panel/',
            context: this,
            success: double,
    	});
    });
});

function double(data, textStatus, jqXHR)
{
	$(this).html(data);
	$(this).addClass("btn-success");
}

function lock_it(){
	$('.locked').click(function(event){
        event.preventDefault();
    });
}

$(document).ready(lock_it);
</script>

{% endblock %}