{% extends 'nation/base.html' %}
{% block content %}
{% load timetags %}
{% load alliancetags %}

{% include 'alliance/header.html' %}

<style>
	.bank {
		text-align: left;
	}
	.small {
		font-size: 0.5em;
	}


</style>
<div style="margin-top: -52px">
	<div class="container-fluid">
    	<div class="btn-group btn-group-justified" role="group" aria-label="...">
			<a class="btn cpnot" id="notifications" href="#">1</a>
			<a class="btn cpnot" href="#">1</a>
			<a class="btn cpnot" href="#">1</a>
		</div>
	</div> <!-- end fluid -->
</div>
<div class="container">
		
{% if page == 'general' %}
	{% include "alliance/cp_general.html" %}
{% elif page == 'banking' %}
	{% include "alliance/cp_banking.html" %}
{% else %}
	{% include "alliance/cp_members.html" %}
{% endif %}



{% if permissions.can_manage %}
<div style="margin-top: 5em; margin-bottom: 2em;" data-toggle="collapse" data-target="#management">
	<h3><b>Member Management</b></h3>
</div>
<div class="collapse" id="management">


	<div class="row spacer">
		<div class="col-xs-6 col-xs-offset-3">
			<p>Promote member to officer</p>
		</div>
	</div>
	<form method="POST">{% csrf_token %}
	<div class="row">
		<div class="col-xs-2 col-xs-offset-3">
			{{ promoteform.member }}
		</div>
		<div class="col-xs-2">
			{{ promoteform.template }}
		</div>
		<div class="col-xs-2">
			<button type="submit" class="btn btn-default" name="promote">
				Promote member
			</button>
		</div>
	</div>
	</form>

	<div class="row spacer">
		<div class="col-xs-6 col-xs-offset-3">
			<p>Change officer permissions</p>
		</div>
	</div>
	<form method="POST">{% csrf_token %}
	<div class="row">
		<div class="col-xs-2 col-xs-offset-3">
			{{ changeform.officer }}
		</div>
		<div class="col-xs-2">
			{{ changeform.template }}
		</div>
		<div class="col-xs-2">
			<button type="submit" class="btn btn-default" name="change">
				Change Permissions
			</button>
		</div>
	</div>
	</form>

	<div class="row spacer">
		<div class="col-xs-6 col-xs-offset-3">
			<p>Demote officer</p>
		</div>
	</div>
	<form method="POST">{% csrf_token %}
	<div class="row">
		<div class="col-xs-2 col-xs-offset-4">
			{{ demoteform.officer }}
		</div>
		<div class="col-xs-2">
			<button type="submit" class="btn btn-default" name="demote">
				Demote officer
			</button>
		</div>
	</div>
	</form>
</div><!-- end of management collapse -->
{% endif %}


<div style="margin-top: 5em; margin-bottom: 2em;" data-toggle="collapse" data-target="#permissions">
	<h3><b>Permission Management</b></h3>
</div>
<div class="collapse" id="permissions">
	<p style="margin-top: 2em; margin-bottom: 1em;">Alter Existing Template</p>
	<form method="POST" action="{% url 'alliance:templates' %}">{% csrf_token %}
	<div class="row">
		<div class="col-xs-3 col-xs-offset-3">
			{{ templatesform.template }}
		</div>
		<div class="col-xs-2">
			<button type="submit" class="btn btn-default" name="alter">
				Alter Template
			</button>
		</div>
	</div>
	</form>

	<p style="margin-top: 2em;">Delete Existing Template</p>
	<h5 style="margin-bottom: 1em;">note: officers with the template are demoted to members</h5>
	<form method="POST">{% csrf_token %}
	<div class="row">
		<div class="col-xs-3 col-xs-offset-3">
			{{ templatesform.template }}
		</div>
		<div class="col-xs-2">
			<button type="submit" class="btn btn-default" name="delete">
				Delete Template
			</button>
		</div>
	</div>
	</form>

	<p style="margin-top: 2em; margin-bottom: 1em;">Alter Existing Template</p>
	<form method="POST" action="{% url 'alliance:templates' %}">{% csrf_token %}
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<button type="submit" class="btn btn-default" name="new">
				Create New Template
			</button>
		</div>
	</div>
	</form>
</div>


<script>

$(document).ready(function(){
    $(".toggle").click(function(){
        $.ajax({
            method: "POST",
            data: {
                "csrfmiddlewaretoken": jQuery("[name=csrfmiddlewaretoken]").val(),
                "toggle": this.name,
            },
            url: '/alliances/main/control_panel/',
            datatype: "json",
        });
    });
});


$(document).ready(function(){
    $("a").click(function(){
    	alert(this.html)
        $.ajax({
            method: "GET",
            data: {
                "page": this.id,
            },
            url: '/alliances/main/control_panel/',
            success: function(x, y, z){$("#cpcontent").html(x)}
        });
    });
});

</script>

{% endblock %}