{% extends 'nation/base.html' %}
{% block content %}
{% load timetags %}
{% load alliancetags %}

{% include 'alliance/header.html' %}

<style>
	.bank {
		text-align: left;
	}
	.small {
		font-size: 0.5em;
	}


</style>
<div style="margin-top: -52px">
	<div class="container-fluid">
    	<div class="btn-group btn-group-justified" role="group" aria-label="...">
			<a class="btn cpnot" id="notifications" href="#">1</a>
			<a class="btn cpnot" href="#">1</a>
			<a class="btn cpnot" href="#">1</a>
		</div>
	</div> <!-- end fluid -->
</div>
<div class="container">
		
{% if page == 'general' %}
	{% include "alliance/cp_general.html" %}
{% elif page == 'banking' %}
	{% include "alliance/cp_banking.html" %}
{% else %}
	{% include "alliance/cp_members.html" %}
{% endif %}


<script>

$(document).ready(function(){
    $(".toggle").click(function(){
    	if($(this).hasClass("locked") === false)
    	{
    		$.ajax({
	            method: "POST",
	            data: {
	            	"toggle": this.value,
	            },
	            url: '/alliances/main/control_panel/',
        	});
    	}
    });
});


$(document).ready(function(){
    $("button[name='save']").click(function(event){
    	event.preventDefault();
    	alert(this);
		$.ajax({
            method: "POST",
            data: $('form').serialize(),
            url: '/alliances/main/control_panel/',
            context: this,
            success: double,
    	});
    });
});

function double(data, textStatus, jqXHR)
{
	$(this).html(data);
	$(this).addClass("btn-success");
}


</script>

{% endblock %}