{% load alliancetags %}

<h2>Banking settings</h2>
{% if nation.permissions|check_permission:'banking' %}
<div class="row spacer">
    <div class="col-xs-4 col-xs-offset-2">
        <div class="leftie">
            Limit withdrawals
        </div>
    </div>
    <div class="col-xs-2 col-xs-offset-2">
        <label class="switch">
            <input type="checkbox" class="toggle" name="toggle" value="limit" 
            {% if alliance.bank.limit %}
                checked
            {% endif %}
            >
            <span class="slider round"></span>
        </label>
    </div>
</div>

<div class="row">
    <div class="col-xs-4 col-xs-offset-2">
        <div class="leftie">
            Limits are per nation
        </div>
    </div>
    <div class="col-xs-2 col-xs-offset-2">
        <label class="switch">
            <input type="checkbox" class="toggle" name="toggle" value="per_nation" 
            {% if alliance.bank.per_nation %}
                checked
            {% endif %}
            >
            <span class="slider round"></span>
        </label>
    </div>
</div>

{% if alliance.bank.limit == False %}
    <p class="red">There are no limits on withdrawals</p>
{% endif %}

<form method="POST">{% csrf_token %}
    <div class="row spacer-small">
        <div class="col-xs-6 col-xs-offset-3">
        </div>
    </div>
    <div class="row spacer-small">
        <div class="col-xs-2 col-xs-offset-2">
            <p class="leftie" style="padding-top: 5px">limit</p>
        </div>
        <div class="col-xs-4">
            <div class="input-group">
                <span class="input-group-addon">$</span>
                    {{ bankingform.budget_limit }}
                <span class="input-group-addon">k</span>
            </div>
        </div>
    </div>
{% endif %}


{% if nation.permissions|check_permission:'taxman' %}
    <h3 class="headliner">Taxes</h3>

    {% for field in taxrateform %}
    <div class="row spacer-small">
        <div class="col-xs-4 col-xs-offset-2">
            <p class="leftie">{{ field.label }}</p>
        </div>
        <div class="col-xs-2">
            <div class="input-group">
                {{ field }}
                <span class="input-group-addon">%</span>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="row spacer">
        <div class="col-xs-4 col-xs-offset-4">
            <input type="hidden" name="save" value="banking">
            <button type="submit" class="btn btn-default" name="save">
                Save
            </button>
        </div>
    </div>
</form>
{% endif %}