
    <h2>General settings</h2>
<form>{% csrf_token %}

    {% if heirform %} 
        <div class="row spacer">
            <div class="col-xs-4">
                <div class="rightie form-align">
                    <a href="#" data-toggle="tooltip" title="This is the person who takes over if there are no more founders. If left blank the oldest officer with the highest rank will be picked.">
                        Heir
                        <small>
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        </small>
                    </a>
                </div>
            </div>
            <div class="col-xs-4">
                {{ heirform.heir }}
            </div>
        </div>
    {% endif %}

    <div class="row spacer">
        <div class="col-xs-4">
            <div class="rightie form-align">
                Member title
            </div>
        </div>
        <div class="col-xs-4">
            {{ membertitleform.title }}
        </div>
    </div>

    <div class="row spacer">
        <div class="col-xs-4">
                <div class="rightie form-align">
                    Alliance description
                </div>
            </div>
        <div class="col-xs-4">
            {{ generals.description }}
        </div>
    </div>


    <h6 style="margin-bottom: 1em; margin-top: 2em">
        Paste the video code from the youtube link, eg. https://www.youtube.com/watch?v=<b>R0tam7UPXHs</b>
    </h6>
    <div class="row">
        <div class="col-xs-4">
            <div class="rightie form-align">
                Alliance anthem
            </div>
        </div>
        <div class="col-xs-4">
            {{ generals.anthem }}
        </div>
    </div>


    <h6 style="margin-bottom: 1em; margin-top: 2em">
        Paste the full URL
    </h6> 
    <div class="row">
        <div class="col-xs-4">
            <div class="rightie form-align">
                Alliance flag
            </div>
        </div>
        <div class="col-xs-4">
            {{ generals.flag }}
        </div>
    </div>
    <input type="hidden" name="save" value="save">
    <button type="submit" class="btn btn-default spacer" name="save">Save</button>
</form>

{% include "alliance/cp_notifications.html" %}

<div class="spacer"></div>

{% include "alliance/initiatives.html" %}