{% extends 'nation/base.html' %}
{% block content %}
{% load humanize %}
<h2 style="margin: 50px">Alliance Declarations</h2>

{% if result %}
    <div class="result">
        {{ result }}
    </div>
{% endif %}

{% if declarations %}


<div> 
<ul class="pagination">
{% if declarations.has_previous %}
  <li><a href="{% url 'alliance:declarations' declarations.previous_page_number %}">{{ declarations.previous_page_number }}</a></li>
  <li><a href="{% url 'alliance:declarations' declarations.number %}">{{ declarations.number }}</a></li>
    {% if declarations.has_next %}
  <li><a href="{% url 'alliance:declarations' declarations.next_page_number %}">{{ declarations.next_page_number }}</a></li>
    {% endif %}
{% elif not declarations.has_previous and not declarations.has_next %}
    <li><a href="{% url 'alliance:declarations' declarations.number %}">{{ declarations.number }}</a></li>
{% else %}
    <li><a href="{% url 'alliance:declarations' declarations.number %}">{{ declarations.number }}</a></li>
  <li><a href="{% url 'alliance:declarations' declarations.next_page_number %}">{{ declarations.next_page_number }}</a></li>
  <li><a href="{% url 'alliance:declarations' declarations.next_page_number|add:'1' %}">{{ declarations.next_page_number|add:'1' }}</a></li>
{% endif %}
</ul> 
</div>


<div class="declarations">
    {% for declaration in declarations %}
        <div class="declaration">
            <div class="row">
                <div class="col-sm-10">
                    <div style="text-align: left; padding-left: 10px">
                    <a href="{{ declaration.nation.get_absolute_url }}">
                    <img src="{{ declaration.nation.settings.showflag }}" height="20">
                    <b>{{ declaration.nation.name }}</b> from <b>{{ declaration.alliance }}</b>
                    </a> declared the following
                    </div>
                </div>
                <div class="col-sm-2">
                    {{ declaration.timestamp|naturaltime }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="dec-content">
                        {{ declaration.content }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% else %}

<p style="margin: 50px">There are no alliance declarations yet! Be the first to make one!</p>

{% endif %}

<form method="POST">{% csrf_token %}
<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        {{ declarationform.message }}
    </div>
</div>
    <div><button type="submit" class="btn" style="margin: 20px" name="declare">Declare</button></div>
</form>

{% endblock %}