{% extends 'nation/base.html' %}
{% block content %}
<div class="container">
<h2 style="margin: 50px">Alliance Declarations</h2>

{% if result %}
    <div class="result">
        {{ result }}
    </div>
{% endif %}

{% if declarations %}

{% include "nation/pagination.html" %}

<div class="declarations">
    {% for declaration in declarations %}
        <div class="declaration">
            <div class="row">
                <div class="col-sm-10">
                    <div style="text-align: left; padding: 5px">
                    <a href="{{ declaration.nation.get_absolute_url }}">
                        <img src="{{ declaration.nation.settings.showflag }}" height="20">
                        <b>{{ declaration.nation.name }}</b>
                    </a> 
                        from 
                    <a href="{{ declaration.alliance.get_absolute_url }}">
                        <b>{{ declaration.alliance }}</b>
                    </a>
                    </a> declared the following
                    </div>
                </div>
                <div class="col-sm-2">
                    <div style="padding: 5px">
                    {{ declaration.timestamp|date:"o/m/d G:i" }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="dec-content">
                        {{ declaration.content }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% else %}

<p style="margin: 50px">There are no alliance declarations yet! Be the first to make one!</p>

{% endif %}

{% if nation.permissions.is_officer %}
<form method="POST">{% csrf_token %}
    <p><h5>Alliance declarations costs $100k</h5></p>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            {{ declarationform.message }}
        </div>
    </div>
        <div>
            <button type="submit" class="btn" style="margin: 20px" name="declare">
                Declare
            </button>
        </div>
    </form>
{% endif %}
</div>
{% endblock %}