
{% load timetags %}

<h3 class="headliner">Initiatives</h3>

<div class="row">
    <div class="col-xs-2 col-xs-offset-10">
        <h5>cooldowns</h5>
    </div>
</div>

{% for initiative in initiatives %}
    <div class="row spacer">
        <div class="col-xs-4 col-xs-offset-2">
            <div class="leftie">
                <a href="#" data-toggle="tooltip" title="{{ initiative.tooltip }}">
                    {{ initiative.txt }}
                    <small>
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    </small>
                </a>
            </div>
        </div>
        <div class="col-xs-2 col-xs-offset-2">
            <label class="switch">
                <input type="checkbox" {% if initiative.locked %}
                    class="toggle locked"    
                {% else %}
                    class="toggle"
                {% endif %} 
                name="initiative" value="{{ initiative.initiative }}" 
                    {% if initiative.status %}
                        checked
                    {% endif %}
                >
                    <span class="slider round"></span>
                </label>
        </div>
            <div class="col-xs-2">
                <div class="timercount" id="{{ initiative.initiative }}_timer">
                    {% if initiative.timer %}
                        {{ initiative.timer|timer }}
                    {% else %}
                        <span class="green">ready</span>
                    {% endif %}
                </div>
            </div>
    </div>
{% endfor %}