{% extends 'nation/base.html' %}
{% block content %}
{% include "alliance/header.html" %}
<div class="container">

{% if error %}
    <h3 style="margin: 50px;">Invalid template picked</h3>
{% else %}

{% if new %}
    <h3 style="margin: 50px;">New template</h3>
{% else %}
    <h3 style="margin: 50px;">{{ templatename }} template</h3>
{% endif %}

{% if result %}
    <div class="result">
        {{ result }}
    </div>
{% endif %}

<form method="POST">{% csrf_token %}
{% if nation.permissions.template.rank == 0 %}
    <div class="row spacer">
        <div class="col-xs-2 col-xs-offset-4"> 
            <a href="#" data-toggle="tooltip" data-placement="top" title="Founder type templates have every permission enabled and will have rank 0">
                Template type
            </a>
            <small>
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            </small>
        </div>
        <div class="col-xs-2">
            {{ form.permset }}
        </div>
    </div>
{% endif %}
    <div class="row spacer">
        <div class="col-xs-4 col-xs-offset-4"> 
            {{ form.title }}
        </div>
    </div>

    <div class="row spacer">
        <div class="col-xs-4 col-xs-offset-4"> 
            Officer rank {{ form.rank }}
        </div>
    </div>

    <div class="row spacer-top">
        <div class="col-xs-3 col-xs-offset-1">
            <p class="templating">Kick member</p>
        </div>
        <div class="col-xs-1 leftie">
            {{ form.kick }}
        </div>

        <div class="col-xs-3">
            <p class="templating">
                <a href="#" data-toggle="tooltip" data-placement="top" title="Officer with this can promote members to a rank equal to or less than his own">
                Promote member
                </a>
                <small>
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </small>
            </p>
        </div>
        <div class="col-xs-1 leftie">
            {{ form.promote }}
        </div>
    </div>

    <div class="row spacer">
        <div class="col-xs-3 col-xs-offset-1">
            <p class="templating">
                <a href="#" data-toggle="tooltip" data-placement="top" title="Will only be able to kick lower ranked officers">
                    Kick officer
                </a>
                <small>
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </small>
            </p>
        </div>
        <div class="col-xs-1 leftie">
            {{ form.kick_officer }}
        </div>

        <div class="col-xs-3">
            <p class="templating">
                <a href="#" data-toggle="tooltip" data-placement="top" title="Will only be able to demote lower ranked officers">
                    Demote officer
                </a>
                <small>
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </small>
            </p>
        </div>
        <div class="col-xs-1 leftie">
            {{ form.demote_officer }}
        </div>
    </div>

    <div class="row spacer">
        <div class="col-xs-3 col-xs-offset-1">
            <p class="templating">Mass comm</p>
        </div>
        <div class="col-xs-1 leftie">
            {{ form.mass_comm }}
        </div>

        <div class="col-xs-3">
            <p class="templating">Change officer rank</p>
        </div>
        <div class="col-xs-1 leftie">
            {{ form.change_officer }}
        </div>
    </div>

    <div class="row spacer">
        <div class="col-xs-3 col-xs-offset-1">
            <p class="templating">Leadership comm</p>
        </div>
        <div class="col-xs-1 leftie">
            {{ form.officer_comm }}
        </div>

        <div class="col-xs-3">
            <p class="templating">Accept/Reject applicants</p>
        </div>
        <div class="col-xs-1 leftie">
            {{ form.applicants }}
        </div>
    </div>

    <div class="row spacer">
        <div class="col-xs-3 col-xs-offset-1">
            <p class="templating">Set taxes</p>
        </div>
        <div class="col-xs-1 leftie">
            {{ form.taxman }}
        </div>

        <div class="col-xs-3">
            <p class="templating">Invite nations</p>
        </div>
        <div class="col-xs-1 leftie">
            {{ form.invite }}
        </div>
    </div>

    <div class="row spacer">
        <div class="col-xs-3 col-xs-offset-1">
            <p class="templating">Set withdrawal limits</p>
        </div>
        <div class="col-xs-1 leftie">
            {{ form.banking }}
        </div>

        <div class="col-xs-3">
            <p class="templating">Enact Initiatives</p>
        </div>
        <div class="col-xs-1 leftie">
            {{ form.initiatives }}
        </div>
    </div>

    <div class="row spacer">
        <div class="col-xs-3 col-xs-offset-1">
            <p class="templating">Withdraw</p>
        </div>
        <div class="col-xs-1 leftie">
            {{ form.withdraw }}
        </div>

        <div class="col-xs-3">
            <p class="templating">Delete bank logs</p>
        </div>
        <div class="col-xs-1 leftie">
            {{ form.delete_log }}
        </div>
    </div>

    <div class="row spacer">
        <div class="col-xs-3 col-xs-offset-1">
            <p class="templating">Create/delete/change permission templates</p>
        </div>
        <div class="col-xs-1 leftie">
            {{ form.templating }}
        </div>

        <div class="col-xs-3">
            <p class="templating">See alliance stats</p>
        </div>
        <div class="col-xs-1 leftie">
            {{ form.see_stats }}
        </div>
    </div>

<!-- missing  call_for_election -->
    {% if new %}
        <input type="hidden" name="template" value="new">
    {% else %}
        <input type="hidden" name="template" value="{{ templatepk }}">
    {% endif %}
    <div class="row spacer">
        <div class="col-xs-4 col-xs-offset-4">
            <button type="submit" class="btn btn-default" name="save">
                Save
            </button>
        </div>
    </div>
</form>
</div>

<script type="text/javascript">
    $(document).ready(function(){
    $("button[name='save']").click(function(event){
        event.preventDefault();
        $.ajax({
            method: "POST",
            data: $('form').serialize(),
            url: '/alliances/main/control_panel/change/',
            context: this,
            success: double,
        });
    });
});

function double(data, textStatus, jqXHR)
{
    $(this).html(data);
    $(this).addClass("btn-success");
}
</script>
{% endif %}

{% endblock %}