{% extends 'nation/base.html' %}
{% block content %}
{% load modtags %}
<div class="container">
    <p class="spacer"><h2>{{ target.name }}s reports</h2></p>
    <div class="row">
        <div class="col-xs-2 col-xs-offset-9">
            <a href="{% url 'mod:nation' target.index %}">
                <button class="btn btn-default">
                    Back to overview
                </button>
            </a>
        </div>
    </div>
<div class="bigspacer">
   {% include "nation/pagination.html" %} 
    <table class="table table-striped">
        <thead>
            <td>Reported</td>
            <td>Claimed</td>
            <td>Investigating mod</td>
            <td>Time Reported</td>
            <td></td>
        </thead>
        <tbody>
            {% for report in reports %}
                <tr>
                    <td>
                        <a href="{{ report.reported.get_modview_url }}">
                            {{ report.reported.name }}
                        </a>
                    </td>
                    <td>
                        {% if report.investigator %}
                            <span class="green">Yes</span>
                        {% else %}
                            <span class="red">No</span>
                        {% endif %}
                    </td>
                     <td>
                        {% if report.investigator %}
                            {{ report.investigator.name }}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                    <td>{{ report.timestamp|date:"o/m/d G:i" }}</td>
                    <td>
                        <button class="btn btn-default">See more</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}