{% extends 'nation/base.html' %}
{% block content %}

<div class="container">
    <p style="margin: 2em;"><h2>{{ target.name }}</h2></p>
    <div>
        <a href="{{ target.get_absolute_url }}">
            <button type="button" class="btn btn-default">
                View nation page
            </button>
        </a>
    </div>

    {% if result %}
    	<div class="result">
    		{{ result }}
    	</div>
    {% endif %}


    <p style="margin: 1em; margin-top: 5em">Player data</p>
    <table class="table table-striped">
        <tbody>
        	<tr>
        		<td>ID</td>
        		<td>{{ target.index }}</td>
            <tr>
                <td>Reports made</td>
                <td>{{ reports_made_count }}</td>
            </tr>
            <tr>
                <td>Reports dismissed</td>
                <td>{{ reports_dismissed_count }}</td>
            </tr>
            <tr>
                <td>Trade balance</td>
                <td>${{ target.trade_balance }}k</td>
            </tr>
            <tr>
                <td>Creation date</td>
                <td>{{ target.creationtime|date:"o/m/d G:i" }}</td>
            </tr>
            <tr>
                <td>Location</td>
                <td>{{ target.subregion }}</td>
            </tr>
            <tr>
                <td>Alliance</td>
                {% if target.has_alliance %}
                    <td>{{ target.alliance.name }}</td>
                {% else %}
                    <td>None</td>
                {% endif %}
            </tr>
            <tr>
                <td>Is active</td>
                {% if target.deleted %}
                	<td>No</td>
               	{% else %}
               		<td>Yes</td>
               	{% endif %}
            </tr>
            <tr>
                <td>Is in vacation mode</td>
                {% if target.vacation %}
                	<td>Yes</td>
               	{% else %}
               		<td>No</td>
               	{% endif %}
            </tr>
        </tbody>
    </table>

    <div class="row" style="margin: 1em; margin-top: 5em">
        <div class="col-xs-7 col-xs-offset-1">
            <p class="leftie">Last 10 reports made</p>
        </div>
        <div class="col-xs-4"> 
            <a href="{% url 'mod:nation_reports' target.index 1 %}">
            	<button class="btn btn-default">See all</button>
            </a>
        </div>
    </div>
    {% if reports_made_count == 0 %}
        <p>{{ target.name }} hasn't reported anyone</p>
    {% else %}
    <table class="table table-striped">
        <tbody>
            {% for report in reports_made %}
                <tr>
                    <td>{{ report }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}


    {% if can_see %}   

    {% load modtags %}


    <div class="row" style="margin: 1em; margin-top: 5em">
        <div class="col-xs-7 col-xs-offset-1">
            <p class="leftie">Recent aid</p>
        </div>
        <div class="col-xs-4"> 
            <a href="{% url 'mod:nation_outgoing' target.index 1 %}">
            	<button class="btn btn-default">See all</button>
            </a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <td>To/From</td>
            <td>Resource</td>
            <td>Amount</td>
            <td>Type</td>
            <td>Timestamp</td>
        <tbody>
            {% for aid in aids %}
                <tr>
                    <td><a href="{{ aid.reciever.get_modview_url }}">
                    {{ aid.reciever }}
                    </a></td>
                    <td>{{ aid.resource|aidname }}</td>
                    <td>{{ aid|aidamount }}</td>
                    <td>{% if aid.reciever == nation %}
                            Incoming
                        {% else %}
                            Outgoing                        
                    {% endif %}
                    </td>
                    <td>{{ aid.timestamp|date:"o/m/d G:i" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    <div class="row" style="margin: 1em; margin-top: 5em">
        <div class="col-xs-7 col-xs-offset-1">
            <p class="leftie">Last 10 wars</p>
        </div>
        <div class="col-xs-4"> 
            <a href="{% url 'mod:nation_wars' target.index 1 %}">
            	<button class="btn btn-default">See all</button>
            </a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <td>With</td>
            <td>Type</td>
            <td>Outcome</td>
            <td>Losses</td>
            <td>Time Started</td>
            <td>Time Ended</td>
            <td>Details</td>
        <tbody>
            {% for war in warlogs %}
                <tr>
                    <td><a href="{{ war|warlink:target }}">
                    {{ war|war_otherguy:target }}
                    </a></td>
                    <td>{{ war|wartype:target }}</td>
                    <td>{{ war|outcome:target }}</td>
                    <td>{{ war|losses:target }}</td>
                    <td>{{ war.timestart|date:"o/m/d G:i" }}</td>
                    {% if war.war.over %}
                    <td>{{ war.timeend|date:"o/m/d G:i" }}</td>
                    {% else %}
                    <td>N/A</td>
                    {% endif %}
                    <td><a href="{{ war.get_absolute_url }}">
                    	<button class="btn btn-default">
                    		View details
                    	</button>
                    </td></a>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    <div class="row" style="margin: 1em; margin-top: 5em">
        <div class="col-xs-7 col-xs-offset-1">
            <p class="leftie">Last 10 actions</p>
        </div>
        <div class="col-xs-4"> 
            <a href="{% url 'mod:nation_actions' target.index 1 %}">
            	<button class="btn btn-default">See all</button>
            </a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <td>Action</td>
            <td>Cost</td>
            <td>Timestamp</td>
        <tbody>
            {% for log in actionlogs %}
                <tr>
                    <td>{{ log.action }}</td>
                    <td>{{ log.cost }} + {{ log.total_cost }}</td>
                    <td>{{ log.timestamp|date:"o/m/d G:i" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    <div class="row" style="margin: 1em; margin-top: 5em">
        <div class="col-xs-7 col-xs-offset-1">
            <p class="leftie">Last 10 login times</p>
        </div>
        <div class="col-xs-4"> 
            <a href="{% url 'mod:nation_logins' target.index 1 %}">
            	<button class="btn btn-default">See all</button>
            </a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <td>IP</td>
            <td>Timestamp</td>
        <tbody>
            {% for log in login_times %}
                <tr>
                    <td>{{ log.IP }}</td>
                    <td>{{ log.timestamp|date:"o/m/d G:i" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    <div class="row" style="margin: 1em; margin-top: 5em">
        <div class="col-xs-7 col-xs-offset-1">
            <p class="leftie">Last 10 associated IPs</p>
        </div>
        <div class="col-xs-4"> 
            <a href="{% url 'mod:nation_IPs' target.index %}">
            	<button class="btn btn-default">See all</button>
            </a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <td>IP</td>
            <td>First seen</td>
        <tbody>
            {% for log in associated_IPs %}
                <tr>
                    <td>{{ log.IP }}</td>
                    <td>{{ log.timestamp|date:"o/m/d G:i" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    {% endif %}

<form method="POST">{% csrf_token %}
   <div class="row" style="margin: 1em; margin-top: 5em">
        <div class="col-xs-8 col-xs-offset-2">
            <p><h2>Mod actions</h2></p>
            <p class="spacer">Every action taken as a mod need to be accompanied with a good reason, so before taking an action enter a reason, preferrably something more substantial than "multi" or "cheater"</p>

            <p>A report ban is basically a shadow ban for reporting, nothing changes visually for the affected player, but any reports made won't be registered. Use if abused</p>
        </div>
    </div>
    <div class="row spacer">
    	<div class="col-xs-1 col-xs-offset-5">
    		<input type="checkbox" name="killreports">
    	</div>
    	<div class="col-xs-6">
    		<p class="leftie">Delete reports</p>
    	</div>
    	<div class="col-xs-8 col-xs-offset-2">
    		<button type="submit" class="btn btn-danger" name="shadow">
    			Ban from reporting
    		</button>
    	</div>
    </div>
    <div class="row bigspacer">
    	<div class="col-xs-1 col-xs-offset-5">
    		<input type="checkbox" name="banall">
    	</div>
    	<div class="col-xs-6">
    		<p class="leftie">Ban all associated IPs</p>
    	</div>
    	<div class="col-xs-8 col-xs-offset-2">
    		<button type="submit" class="btn btn-danger" name="ban">
    			Ban {{ target.name }}
    		</button>
    	</div>
    </div>
    <div class="row spacer">
    	<div class="col-xs-8 col-xs-offset-2">
    		<button type="submit" class="btn btn-danger" name="delete">
    			Delete {{ target.name }}
    		</button>
    	</div>
    </div>
    {% if target.vacation %}
    <div class="row bigspacer">
    	<div class="col-xs-8 col-xs-offset-2">
    		<button type="submit" class="btn btn-danger" name="remove">
    			Remove from vacation mode
    		</button>
    	</div>
    </div>
    {% else %}
    <div class="row bigspacer">
    	<div class="col-xs-8 col-xs-offset-2">
    		<button type="submit" class="btn btn-danger" name="force">
    			Place into vacation mode
    		</button>
    	</div>
    </div>
    {% endif %}

    <div class="row spacer">
    	<div class="col-xs-6 col-xs-offset-3">
    		{{ reasonform.reason }}
    	</div>
    </div>

</form>

</div>
{% endblock %}