{% extends 'nation/base.html' %}

{% block scripts %}
{% load static %}
    <link href="{% static 'nation/css/timelines.css' %}" rel="stylesheet" type="text/css"/>
{% endblock scripts %}

{% block content %}
{% load modtags %}
<div class="container">
    <p class="spacer"><h2>{{ war.attacker.name }}s offense against {{ war.defender.name }}</h2></p>

    <p>The war against 
        <a href="{{ war.defender.get_mod_url }}">{{ war.defender.name }}</a>
     was started on turn {{ war.begun }} -  {{ war.timestamp|date:"o/m/d G:i" }} and is currently <b>ongoing</b></p>

     <div class="spacer">
        <h5>Attack order: first to last <div class="arrow-up"></div></h5>
     </div>
        {% if wardata %}
        <div class="timeline">
            {% for turn in  wardata %}
                <div class="boxmid">
                    <div class="turnbox">Turn {{ turn.turn }} </div>
                </div>

                {% for data in turn.attacks  %}
                    <div class="box{{ data.side }}">
                        <div class="tl_attack">{{ data.attack.attack_type }}</div>
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="boxleft">
                <div class="tl_attack">hello</div>
            </div>
            <div class="boxright">
                <div class="tl_attack">hello</div>
            </div>
            <div class="boxmid">
                <div class="turnbox">Turn 55505</div>
            </div>
            <div class="boxleft">
                <div class="tl_attack">hello</div>
            </div>
            <div class="boxright">
                <div class="tl_attack">hello</div>
            </div>
            <div class="boxleft">
                <div class="tl_attack">hello</div>
            </div>
            <div class="boxright">
                <div class="tl_attack">hello</div>
            </div>
            <div class="boxleft">
                <div class="tl_attack">hello</div>
            </div>
        {% else %}
            No attacks have been made
        {% endif %}

    </div>
    {% if war|warstatus:war.defender == 'ongoing' %}
        <div class="bigspacer">
            <form method="POST">{% csrf_token %}
                <div class="row spacer">
                    <div class="col-xs-4 col-xs-offset-4">
                        {{ reasonform.reason }}
                    </div>
                </div>
                <button type="submit" class="btn btn-danger" name="delete">
                    Delete war
                </button>
            </form>
        </div>
    {% endif %}

{% endblock %}
